*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px; 

  /* column-gap: 5px;
  row-gap: 5px; */
  height: 500px;
  background-color: burlywood;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.container :nth-child(5){
  background-color: red;
  align-self: flex-end;
  justify-self: end;
}

.box{
  background-color: blueviolet;
  border: 1px solid blue;
  text-align: center;
  color: #fff;
}